<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
    <title>Editar Curso</title>
</head>
<body class="bg-slate-700">
<div class="flex justify-center mt-5">
    <form th:action="@{/cursos/edit}" method="post" th:object="${curso}">
        <div>
            <input type="hidden" class="rounded p-2 w-96 block mt-3 focus:outline-none outline-none text-xd" th:field="*{id}">
            <input type="text" class="rounded p-2 w-96 block mt-3 focus:outline-none outline-none text-xd" th:field="*{name}" placeholder="Nome">
            <input type="text" class="rounded p-2 w-96 block mt-3 focus:outline-none outline-none text-xd" th:field="*{category}" placeholder="Categoria">
            <input type="text" class="rounded p-2 w-96 block mt-3 focus:outline-none outline-none text-xd" th:field="*{professor}" placeholder="Professor(a)">
            <input type="text" class="rounded p-2 w-96 block mt-3 focus:outline-none outline-none text-xd" th:field="*{status}" placeholder="Ativo">
            <button type="submit" class="mt-4 bg-purple-950 hover:bg-purple-900 w-96 text-white font-bold py-2 px-4 rounded">Salvar</button>
        </div>
    </form>
</div>
</body>
</html>